.cafe
{
    background-image: url('cafe.jpeg');
    background-position: center;
}
.id1 
{
    background:linear-gradient(60deg,black,silver,black);
    padding: 5px;
    width: 50%;
    border: solid 3px black;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    margin: auto;
}

.head 
{
    color: white;
    font-weight: bold;
    font-size: 60px;
    width: 40%;
    padding: 8px;
}
.quote 
{
    font-style: italic;
    font-size: 25px;
    color:whitesmoke ;
}
.info
{
    font-style: italic;
    font-size: 20px;
    color: whitesmoke;
    padding-left: 500px;
}


.images 
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
}

img 
{
    width: 400px;
    height:300px;
    border-radius: 10px;
    border: 2px solid;
}
.content{
    text-align: center;
    padding:10px;
    margin:auto;
}
.footer {
    position: fixed;      
    bottom: 0;          
    left: 0;
    width: 100%;          
    text-align: center;
    padding: 3px;
    font-size: 15px;
    background-color: black;
    border-top: 2px solid black;
    color:beige;
}
